ads==0.12.3
adsmsg==1.3.3
adsputils==1.4.3
aiohttp==3.8.5
aiosignal==1.3.1
amqp==2.6.1
# Editable install with no version control (astrobert==0.0.1)
-e /Users/thomasallen/Code/SciX_Classifier/astroBERT
async-timeout==4.0.3
attrs==23.1.0
billiard==3.6.4.0
celery==4.4.2
certifi==2023.7.22
charset-normalizer==2.0.12
click==8.0.3
concurrent-log-handler==0.9.20
contourpy==1.1.1
cycler==0.11.0
datasets==2.4.0
DateTime==4.1.1
dill==0.3.5.1
filelock==3.12.4
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.9.1
future==0.18.2
httpretty==0.8.10
huggingface-hub==0.17.2
idna==3.4
importlib-resources==6.0.1
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
kombu==4.6.11
MarkupSafe==2.1.3
matplotlib==3.7.3
mock==5.1.0
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.13
networkx==3.1
numpy==1.24.4
packaging==23.1
pandas==1.5.3
Pillow==10.0.1
portalocker==2.8.2
protobuf==3.17.3
pyarrow==13.0.0
pyparsing==3.1.1
python-dateutil==2.8.1
python-json-logger==0.1.8
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.8.8
requests==2.27.1
responses==0.18.0
safetensors==0.3.3
scikit-learn==1.3.0
scipy==1.10.1
seaborn==0.12.2
simplejson==3.17.6
six==1.16.0
SQLAlchemy==1.3.16
sympy==1.12
threadpoolctl==3.2.0
tokenizers==0.13.3
torch==2.0.1
tqdm==4.66.1
transformers==4.33.2
typing_extensions==4.8.0
Unidecode==0.4.21
urllib3==1.26.16
vine==1.3.0
Werkzeug==2.3.7
xxhash==3.3.0
yarl==1.9.2
zipp==3.17.0
zope.interface==6.0
